@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-dvh overflow-hidden;
  }
}

@layer components {
  .tab:not(.tab-active) {
    @apply border border-base-200 bg-base-300;
  }

  .tab:not(.tab-active):hover > .btn {
    @apply opacity-100;
  }

  .tabs-lifted
    > .tab:is(.tab-active, [aria-selected='true']):not(.tab-disabled):not(
      [disabled]
    ):first-child:before {
    display: none;
  }

  .editor-code:before {
    content: attr(data-gutter);
    @apply absolute -left-10 top-0 min-h-full w-10 whitespace-pre-wrap rounded-l-sm border-r border-base-100 bg-base-300 p-2 pt-6 text-right text-base-content;
  }

  .editor-code:after {
    content: attr(data-language);
    @apply absolute right-0 top-0 rounded-bl-sm rounded-tr-sm bg-base-300 px-1 py-0 text-xs;
  }
}

@layer utilities {
  .grid-max-auto {
    grid-template-columns: max-content auto;
  }

  .grid-nav-auto {
    grid-template-rows: 2.5rem auto;
  }

  .place-self-start-center {
    place-self: self-start center;
  }
}
