@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-dvh overflow-hidden;
  }
}

@layer components {
  .tab:not(.tab-active) {
    @apply border border-base-200 bg-base-300;
  }

  .tab:not(.tab-active):hover > .btn {
    @apply opacity-100;
  }

  .tabs-lifted
    > .tab:is(.tab-active, [aria-selected='true']):not(.tab-disabled):not(
      [disabled]
    ):first-child:before {
    display: none;
  }

  .editor-code:before {
    content: attr(data-gutter);
    @apply bg-base-300 absolute top-0 -left-10 border-r border-base-100 text-base-content p-2 text-right rounded-l-sm whitespace-pre-wrap w-10 pt-6 min-h-full;
  }
  
  .editor-code:after{
    content: attr(data-language);
    @apply bg-base-300 absolute top-0 right-0 py-0 px-1 text-xs rounded-bl-sm rounded-tr-sm;
  }
}

@layer utilities {
  .grid-max-auto {
    grid-template-columns: max-content auto;
  }

  .grid-nav-auto {
    grid-template-rows: 2.5rem auto;
  }

  .place-self-start-center {
    place-self: self-start center;
  }
}